body {
    font-family: 'Bebas Neue', cursive !important;
}

#screen {
    width: 4.8cm;
    height: 4.4cm;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    border: gray solid 5px;
}

.controls {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.debug-ctl {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.debug-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;

    font-family: 'Inconsolata', monospace;
}

#vram {
    font-size: 4px;
}

#oam {
    font-size: 11px;
}
