body {
    font-family: 'Bebas Neue', cursive !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    border: gray solid 5px;
}

.controls {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.debug-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: center;

    font-family: 'Inconsolata', monospace;
    font-size: 3px;
}
